#chatwindow{
    border: solid 2px black;
    height:400px;
    width:350px;
    position: fixed;
    bottom:0;
    right:200px;
}

#balk{
    border: solid 1px black;
    height:5%;
}

#chat{
    border: solid 1px black;
    height: 80%;
    bottom:0;
    overflow: auto;
}

#message{
    border: solid 1px black;
    height:15%;
    bottom:0;
}